<div class="grid sm:grid-cols-1 lg:grid-cols-3 gap-7 p-6">
  <div class="grid place-items-center gap-x-7 bg-violet-200">
    <img [src]="imageurl1()" alt="funny dog1" class="object-fit-cover" />
    <h3 class="text-md text-indigo-800 font-bold">Cute Dog</h3>
    <p class="text-md font-style-italic"
      >Friendly and energetic dog breed. Highly trainable and great with families.</p
    >
  </div>

  <div class="grid place-items-center gap-x-4 bg-violet-200">
    <img [src]="imageurl2()" alt="funny dog2" class="object-fit-cover" />
    <h3 class="text-md text-indigo-800 font-bold">Another cute dog</h3>
    <p class="text-md font-style-italic"
      >Small, charming dog breed known for its playful personality.</p
    >
  </div>

  <div class="grid place-items-center gap-x-4 bg-violet-200">
    <img [src]="imageurl3()" alt="funny dog3" class="object-fit-cover" />
    <h3 class="text-md text-indigo-800 font-bold">Yet another cute dog</h3>
    <p class="text-md font-style-italic"
      >Friendly, intelligent, and devoted dog breed. Great with families and easy to train.</p
    >
  </div>
</div>
