<div class="grid sm:grid-cols-1 lg:grid-cols-3 gap-2 p-4">
  <div class="grid place-items-center gap-x-2 bg-slate-100">
    <img [src]="imageurl1()" alt="funny dog1" />
    <h3 class="text-md text-indigo-800 font-bold">Golden Retriever</h3>
    <p
      >The golden retriever is a friendly and energetic dog breed. Highly trainable and great with
      families.</p
    >
  </div>

  <div class="grid place-items-center gap-x-2 bg-slate-100">
    <img [src]="imageurl2()" alt="funny dog2" />
    <h3 class="text-md text-indigo-800 font-bold">Pug</h3>
    <p
      >The pug is a small, charming dog breed known for its wrinkled face and playful
      personality.</p
    >
  </div>

  <div class="grid place-items-center gap-x-2 bg-slate-100">
    <img [src]="imageurl3()" alt="funny dog3" />
    <h3 class="text-md text-indigo-800 font-bold">Labrador</h3>
    <p
      >The labrador is a friendly, intelligent, and devoted dog breed. Great with families and easy
      to train.</p
    >
  </div>
</div>
