<mat-toolbar color="primary">
  <span class="text-3xl font-bold text-indigo-800">Dog Gallery</span>

  <span class="px-180"></span>

  <a mat-button color="accent" href="https://www.google.com">Home</a>
  <a mat-button color="accent" href="https://adapostulsperanta.ro/">Adopt</a>
  <mat-icon class="pe-2" routerLink="/login">person</mat-icon>
  <mat-icon class="pe-2" routerLink="/home">person_outline</mat-icon>
</mat-toolbar>

<h1 class="text-lg font-bold text-indigo-400 px-8 py-4">Welcome to the Dog Gallery</h1>
<p class="px-8">Have a great time while you're on our website!</p>

<section *checkVisibility="true">
  <dog-gallery></dog-gallery>
</section>
