<mat-toolbar color="primary">
  <span class="text-3xl font-bold text-indigo-800">Dog Gallery</span>

  <span class="px-180"></span>
  <a mat-button color="accent" href="https://www.google.com">Home</a>
  <a mat-button color="accent" href="https://adapostulsperanta.ro/">Adopt</a>
  <a mat-button [routerLink]="'/home'"><mat-icon class="pe-2">person_outline</mat-icon></a>
</mat-toolbar>

<body>
  <h1 class="text-4xl font-bold text-indigo-600 px-215 py-20">Login</h1>

  <p class="text-xl px-205 py-10">A login form is coming soon...</p>

  <p class="text-md px-205 py-10">Formatted username:{{ 'dora' | formatUsername }}</p>
  <p class="text-md px-205 py-10"
    >Unformatted username:{{ 'dora@msgsummerpractice' | formatUsername }}</p
  >
</body>
