<mat-toolbar color="primary">
  <span class="text-3xl font-bold text-indigo-800">Dog Gallery</span>

  <span class="px-180"></span>

  <a mat-button color="accent" href="https://www.google.com">Home</a>
  <a mat-button color="accent">Other Dogs</a>
  <a mat-button color="accent">Adopt</a>
  <mat-icon class="px-1">person</mat-icon>
  <mat-icon class="px-1">person_outline</mat-icon>
</mat-toolbar>

<h1 class="text-3xl text-align-center px-130 py-20 font-bold text-indigo-800"
  >Hello! You seem to be lost.</h1
>
<p class="text-lg px-130"
  >Don't worry, here's a dog to keep you company while you search for the right path</p
>
<mat-icon class="px-130">sentiment_very_satisfied</mat-icon>

<img [src]="imageurl()" alt="funny dog3" class="px-150" />
