spring-jpa/spring-jpa/target/classes
spring-jpa/spring-jpa/target/test-classes
spring-jpa/spring-jpa/target/maven-status
spring-jpa/spring-jpa/target/maven--status
spring-jpa/spring-jpa/target/generated-test-sources
spring-jpa/target
spring-project/target
.vscode
mavend
parent
target/
spring-core/
spring-boot/
