#email,
#password {
  width: 120%;
  padding: 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 25px;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

label {
  display: block;
  margin-bottom: 5px;
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(75, 0, 130);
}

button {
  background-color: rgb(117, 66, 153);
  color: white;
  font-size: 16px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  margin-left: 80px;
  margin-top: 30px;
  cursor: pointer;
}

form {
  align-items: center;
}

h1 {
  text-align: center;
  color: rgb(75, 0, 130);
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 20px;
}
